@import url(https://fonts.googleapis.com/css?family=Inter);


*
{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Inter";
}
.cointainer_additem
{

    width: 100%;
    height: 90vh;
}
.name_profile
{
    color: #024F9D;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 100% */
}
.rights_profile
{
    color: #61B846;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 100% */
}
.header_profile
{
    height:10%;
    /* background-color: #61B846; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 20px;
    border-bottom: 1px solid gray;
   
}
.alignment
{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.body_additem
{
    height: 70%;
  
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
}
.heading
{
    color: #024F9D;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 125% */
}
.add
{
    border-radius: 10px;
background-color: #61B846;
box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
color: white;
border: none;
outline: none;
width: 120px;
height: 40px;
margin-top: 50px;
align-self: center;
}
.input_fields
{
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
   
}
.label_name
{
    color: #024F9D;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 125% */
}
.footer
{
    height: 10vh;

    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.show_category
{
    height: 70%;

    overflow-y: auto;
}
.category_item
{
    width: 100%;
    height: 90px;
    border: 1px solid #61B846;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
}
.category_img
{
    height: 80px;
}
.category_name
{
    color: #65BD50;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 166.667% */
}

@media only screen and (max-width: 480px) {

    .alignment
    {
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .category_item
    {
        width: 100%;
        height: 50px;
        border: 1px solid #61B846;
        border-radius: 5px;
    }
    .category_img
{
    height: 40px;
}
}
