@import url(https://fonts.googleapis.com/css?family=Inter);


*
{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Inter";

}
.container_cart_body
{
 
    height: 90vh;

    width: 100%;
}
.page_title
{
    height: 10%;
    padding: 2px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.green_logo
{
    color: #61B846;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 100% */
}
.blue_logo
{
    color: #024F9D;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: 25px; /* 100% */
}
.green
{
    color: #61B846;
}
.cart_item
{
  
    height: 40%;
    width: 90%;
    margin-left: 5%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.item
{
    width: 50%;
    align-self: center;
    height: 150px;
   
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.img_sizing
{
    height: 110px;
    width: 180px;
}
.counter_item
{
    width: 40%;
    height: 70%;
 
align-items: center;
justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.counter
{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.price
{
    color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
margin-left: auto;
}
.price_green
{
    color: #61B846;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
margin-left: auto;
}
.counter_btn
{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;

}
.number
{
    background-color: white;
    width: 10px;
}
.form_cart
{
    height: 40%;
    width: 90%;
    margin-left: 5%;
  
    display: flex;
    flex-direction: column;
}
.text_box
{
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
}
.order
{
    background-color: #61B846;
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    outline: none;
    margin-top: 5%;
    border-radius: 10px;
    cursor: pointer;
}
.footer
{
    height: 10vh;
  
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.icon
{
    color: #BFBFBF;
}
@media only screen and (max-width: 480px) {

    .img_sizing
    {
        height: 110px;
        width: 110px;
    }
    .item
{
    width: 100%;
    align-self: center;
    height: 120px;
  
    display: flex;
    align-items: center;
}
.order
{
    background-color: #61B846;
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    outline: none;
    margin-top: 5%;
    border-radius: 5px;
}
}