@import url(https://fonts.googleapis.com/css?family=Inter);


*
{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Inter";

}
.container_start
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aqua; */
}
.startbtn
{
    background-color: #61B846;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 5px #D4D3D3;
}
.startbtn a
{
    color: white;
    text-decoration: none;
}